<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>后台用户中心</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/admin/iconfont.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/admin/style.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/admin/friend.css')}}">

	</head>

	<body>
		<div class="header">
			<div class="bar">
				<div class="w1200">
					<span class="l">问答平台<font>用户中心</font></span>
					<span class="r"><a href="{{url_for('boke')}}"><i class="icon iconfont icon-dianyuan"></i>退出</a></span>
				</div>
			</div>
			<div class="user-info">
				<div class="w1200">
					<div class="user-headface">
						<img src="{{user.img}}"/>
					</div>
					<div class="user-account">
						<p class="tip">你好，{{user.username}}</p>
					</div>
					<div class="user-modify">
						<a href="{{ url_for('admin.editdata') }}">修改资料></a>
					</div>
				</div>
			</div>
		</div>
		<div class="main w1200">
			<div class="left">
				<ul>
					<li>
						<a href="{{url_for('admin.admin_message')}}">
							<i class="icon iconfont icon-lingdang"></i>
							消息
						</a>
					</li>
					<li>
						<a href="{{url_for('admin.admin_article')}}">
							<i class="icon iconfont icon-fangzidichan"></i>
							文章
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon iconfont icon-wenda"></i>
							问答
						</a>
					</li>
					<li>
						<a href="{{url_for('admin.admin_friend')}}">
							<i class="icon iconfont icon-icon--"></i>
							好友
						</a>
					</li>
					<li>
						<a href="{{url_for('admin.commentContent')}}">
							<i class="icon iconfont icon-pinglun"></i>
							评论
						</a>
					</li>
					<li>
						<a href="{{url_for('admin.mydata')}}">
							<i class="icon iconfont icon-geren"></i>
							个人资料
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon iconfont icon-jilu"></i>
							记录
						</a>
					</li>
				</ul>
			</div>
			<div class="right">
				<div class="tap">
					<span>我的好友</span>
				</div>
				<div class="container">
					<div class="text-head">
                        <h2>YOUR FRIENDS</h2>
                        <div class="about-review">
                            <div class="avatar-group">
                                <img src="http://demo.cssmoban.com/cssthemes5/twts_143_snappy/images/cust4.png" alt="" class="avatar">
                            </div>
                            <div class="question-group">
                                <p class="question-title"><a href="">Alina Rouch</a></p>
                                <p class="question-content">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris consectetuer adipiscing Etiam sit amet orci eget eros faucibus tincidunt.</p>
                            </div>
                        </div>
                        <div class="about-review">
                            <div class="avatar-group">
                                <img src="http://demo.cssmoban.com/cssthemes5/twts_143_snappy/images/cust3.png" alt="" class="avatar">
                            </div>
                            <div class="question-group">
                                <p class="question-title"><a href="">Charlie McGlynn</a></p>
                                <p class="question-content">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris consectetuer adipiscing Etiam sit amet orci eget eros faucibus tincidunt.</p>
                            </div>
                        </div>
                        <div class="about-review">
                                <div class="avatar-group">
                                    <img src="http://demo.cssmoban.com/cssthemes5/twts_143_snappy/images/user-image.png" alt="" class="avatar">
                                </div>
                                <div class="question-group">
                                    <p class="question-title"><a href="">Lorem Ipsum</a></p>
                                    <p class="question-content">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris consectetuer adipiscing Etiam sit amet orci eget eros faucibus tincidunt.</p>
                                </div>
                            </div>
                    </div>
				</div>
			</div>
		</div>


	</body>

</html>