<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>登录</title>
<link rel="stylesheet" href="../../static/css/login/normalize.css">
<link rel="stylesheet" href="../../static/css/login/login.css">
<link rel="stylesheet" href="../../static/css/login/sign-up-login.css">
<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/css/login/inputEffect.css" />
<link rel="stylesheet" href="../../static/css/login/tooltips.css" />
<link rel="stylesheet" href="../../static/css/login/spop.min.css" />
<link rel="stylesheet" href="../../static/css/login/yanzheng.css" />

<script src="../../static/js/login/jquery.min.js"></script>
<!-- <script src="../../static/js/login/snow.js"></script> -->
<script src="../../static/js/login/jquery.pure.tooltips.js"></script>
<script src="../../static/js/login/spop.min.js"></script>
<script src="../../static/js/login/login.js"></script>
<script src="../../static/js/login/yanzheng.js"></script>
<style type="text/css">
html{
	width: 100%; 
	height: 100%;
}

body{

	background-repeat: no-repeat;

	background-position: center center #2D0F0F;

	background-color: #00BDDC;

	background-image: url(../../static/img/login/beijing.jpg);

	background-size: 100% 100%;

}

.snow-container { 
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	pointer-events: none; 
	z-index: 100001; 
}

</style>
</head>
<body>
	<!-- 雪花背景 -->
	<div class="snow-container"></div>
	<!-- 登录控件 -->
	<div id="login">
		<input id="tab-1" type="radio" name="tab" class="sign-in hidden" checked />
		<input id="tab-2" type="radio" name="tab" class="sign-up hidden" />
		<input id="tab-3" type="radio" name="tab" class="sign-out hidden" />
		<div class="wrapper">
			<a id="fanhui" href='{{url_for("boke")}}'>返回首页</a>
			<!-- 登录页面 -->
			<div class="login sign-in-htm">
				<form class="container offset1 loginform"  onsubmit="return check()" action='' method="POST">
					<!-- 猫头鹰控件 -->
					<div id="owl-login" class="login-owl">
						<div class="hand"></div>
						<div class="hand hand-r"></div>
						<div class="arms">
							<div class="arm"></div>
							<div class="arm arm-r"></div>
						</div>
					</div>
					<div class="pad input-container">
						<div>登录</div>
						<section class="content">
						
							<span class="input input--hideo">
								<input class="input__field input__field--hideo" type="text" id="login-username" name="login-telephone"
									autocomplete="off" placeholder="请输入手机号" tabindex="1" maxlength="15" />
								<label class="input__label input__label--hideo" for="login-username">
									<i class="fa fa-fw fa-user icon icon--hideo"></i>
									<span class="input__label-content input__label-content--hideo"></span>
								</label>
							</span>
							<span class="input input--hideo">
								<input class="input__field input__field--hideo" type="password" id="login-password" name="login-password" placeholder="请输入密码" tabindex="2" maxlength="15"/>
								<label class="input__label input__label--hideo" for="login-password">
									<i class="fa fa-fw fa-lock icon icon--hideo"></i>
									<span class="input__label-content input__label-content--hideo"></span>
								</label>
							</span>

							<span class="input input--hideo" id="login-yanzheng">
								
								<input type="text" placeholder="验证码" id="vcode" name='vcode' value="验证码" onfocus="this.value=''" onblur="if(this.value=='')this.value='验证码'"/>
								<span id="code" title="看不清？换一张～" onclick=changeImg()></span>
							</span>



						</section>
						
					</span>

					<div class="form-actions">
						<a tabindex="4" class="btn pull-left btn-link text-muted" href='{{url_for("login.login_gl_index")}}'>管理员登录</a>
						<a tabindex="5" class="btn btn-link text-muted" href='{{url_for("register.register_index")}}'>注册</a> 
						<!-- href="register.html" -->
						<input class="btn btn-primary" type="submit" tabindex="3" value="登录" 
							style="color:white;"/>
					</div>
				</form>
			</div>
			
		</div>
	</div>

	<script>
		changeImg()
	</script>
</body>
</html>